<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>02-模板语法</title>
</head>
<body>
<div id="app">
    <h2>1. 插入显示</h2>
    <input type="text" v-model="message" title="">
    <p>message: {{message}}</p>
    <!-- v-once 数据不可再改变 -->
    <p v-once>message: {{message}}</p>
    <input type="text" v-model="htmlContent" title="">
    <p>htmlContent: {{htmlContent}}</p>
    <!-- v-html 解析 HTML 标签后显示-->
    <p v-html="htmlContent">htmlContent: </p>

    <h2>2. 数据绑定</h2>
    <div id="dynamicId"></div>
    <div v-bind:id="dynamicId"></div>
    <!-- v-bind: 简写为英文冒号-->
    <div :id="dynamicId"></div>
    <button v-bind:disabled="isButtonDisabled">Button</button>
    <br/>
    <a v-bind:href="url">标签属性值绑定：百度</a>
    <br/>
    <!--绑定 HTML 标签的属性名-->
    <a v-bind:[attribute]="url">标签属性名绑定：百度</a>

    <h2>3. js表达式</h2>
    <p>{{number + 1}}</p>
    <p>{{ok ? 'YES' : 'NO'}}</p>
    <p>{{info.split(' ').reverse().join(',').toUpperCase()}}</p>
    <p v-if="seen">you can see me.</p>

    <h2>4. 事件绑定</h2>
    <button v-on:click="func01">事件绑定按钮</button>
    <!-- v-on: 简写为 @-->
    <button @click="func01">事件绑定按钮</button>

</div>
</body>
<script rel="script" src="js/vue-2.6.10.js"></script>
<script>
    // 创建 Vue 实例
    let app = new Vue({
        // 绑定 id 为 app 的 dom 元素
        el: '#app',
        data: {
            message: 'hello vue!',
            htmlContent: '<span style="color:red">vue</span>',
            dynamicId: 1,
            isButtonDisabled: true,
            number: 2,
            ok: false,
            info: 'a b c',
            seen: true,
            attribute: 'href',
            url: 'http://www.baidu.com'
        },
        methods: {
            func01() {
                alert(`点我干嘛!`);
            }
        }
    });
</script>
</html>